* {
    font-family: "Berlin Sans FB";
    text-transform: capitalize;
}
.mask{
    -webkit-mask-image: url(../img/user/qa.png);
    mask-image: url(../img/user/qa.png);
    -webkit-mask-repeat: repeat;
     mask-repeat:repeat;
    position: absolute;
    z-index: 1;
    height: 120vh;

}
.container{
    position: absolute;
    z-index: 2;
    top:30px;
    width: 50%;
    margin-left: 25%;
}
.card{
    /* background-color: #e0f8f2d8; */
    /* background-color: #e0f8f2; */
    background-color: white;

}
.card-body{
    background-color: transparent;
}
#hello{
    margin-top: 25px;
}
#smile{
    position: relative;
    left:20%;
}
#smile img{
    width:220px;
    height:100px;
}
#but2{
    margin-left: 500px;
    margin-top: 30px;
    background-color: #FF6D2C;
    box-shadow: 5px 5px  #2E2F35;
    border-color: #222222; 
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
     border-radius:10px ;
    color: white;
}
#but2 a{
text-decoration: none;
    color: white;
}
.gender{
    margin-top: 20px;
    margin-left: 20px;
}

/* small size */
@media (max-width: 500px) and (max-height:1000px)   {
    .mask{
        -webkit-mask-image: url(../img/user/qa.png);
        mask-image: url(../img/user/qa.png);      
        -webkit-mask-repeat: repeat;
         mask-repeat:repeat;
        height:100vh;
    }
}

/* medium near to large */
@media (max-width: 950px) and (max-height:1400px)   {
    .mask{
        -webkit-mask-image: url(../img/user/qa2.png);
        mask-image: url(../img/user/qa2.png);       
        -webkit-mask-repeat: repeat;
         mask-repeat:repeat;
        height:100vh;
    }
}